.listItemDiary {
    width: 100%;
    border-radius: 20px;
    background: white;
    padding: 20px;
    margin-bottom: 35px;
    word-break: break-word;
}

.listItemNote {
    width: 100%;
    max-width: 1219.53px;
}

.listItemNoteDate {
    display: flex;
    gap: 15px;

    margin-bottom: 7px;
}

.listItemNoteDateTitle {
    font-size: 16px;
    cursor: default;
}

.listItemNoteDateTitleContainer {
    display: flex;
    align-items: center;
}

.listItemNoteDateIcon {
    display: flex;
    gap: 7px;
}

.listItemNoteDateIconTags {
    position: relative;
    display: flex;
    align-items: center;
    right: 10px;
}

.listItemNoteDateIconTags>span {
    cursor: pointer;
}

.listItemNoteDateTagsList {
    max-width: 500px;
    overflow-x: scroll;
    cursor: default;
    display: flex;
    align-items: center;
    gap: 7px;
}

.listItemNoteDateTagsList::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.listItemNoteDateTag {
    display: flex;
    padding: 3px 15px;
    border-radius: 4px;
    gap: 5px;
    box-shadow: inset 0px -1px 1px 0px rgba(51, 51, 51, 0.4);
}

.noteDateTitle {
    display: flex;
    justify-content: left;
    cursor: default;
    font-size: 24px;
    margin-bottom: 20px;
}

.listItemNoteDateIconIcon {
    display: flex;
    color: #333333;
}

.listItemNoteDateIconIcon:hover {
    color: #595959;
}

.ant-card-body img {
    width: 50%;
}

.ant-card-body ul {
    padding-left: 30px;
}

.ant-card-body ol {
    padding-left: 30px;
}

.noteDateTitleItem {
    color: #333333;
    width: 20px;
    margin-left: 10px;
    position: relative;
    top: -2px
}

.noteDateTitleItem:hover {
    cursor: pointer;
    color: #595959;
}

table {
    width: 100%;
    border-radius: 5px;
    table-layout: fixed;
    border-spacing: 0px;
}

thead {
    background-color: rgba(251, 238, 206, 0.7);
}

tbody>tr:nth-of-type(even) {
    background-color: rgba(234, 238, 202, 0.3);
}

th {

    text-align: start;
}

th,
td {
    padding: 10px;
}

.listItemNoteDateTagsMore {
    display: none;
}



@media (width < 576px) {
    .listItemNoteDateTagsList {
        display: none;
    }

    .listItemNoteDateTagsMore {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .diaryFieldEditing>form>div:nth-child(1)>div:nth-child(1) {
        max-width: 100% !important;
    }

    .diaryFieldEditing>form>div:nth-child(1)>div:nth-child(3) {
        max-width: 100% !important;
    }
    .formRow{
        flex-direction: column-reverse;
    }

    .ant-splitter-panel > .previows > div > div{
        padding-left: 25px;
    }
}