.a_typeClass{
    margin-bottom: 10px !important;
    color: rgb(51,51,51) !important;
    text-decoration: underline !important;
}

.ant-checkbox-label{
    padding-top: 3px;
}

.a_typeClass:hover{
    color: var(--color-8585) !important;
    text-decoration: underline !important;
}